@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    font-family: "Inter";
    color: white;
    background-color: hsl(0, 0%, 8%);
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 350px;
    min-width: 320px;
    padding: 10px;
    border-radius: 10px;
}

img {
    width: 30%;
    border-radius: 50%;
    padding: 25px;
}

.name   {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.loc {
    font-size: 14px;
    font-weight: 700;
    color: hsl(75, 94%, 57%);
    margin-bottom: 10px;
}

.quote {
    font-size: 14px;
    margin: 10px 20px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.content .social {
    font-size: 14px;
    font-weight: 700;
    background-color: hsl(0, 0%, 20%);
    padding: 15px 0;
    margin: 8px auto ;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.content .social:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}